body {
    background-color: beige;
}

div {
    border-width: 2px;
    border-style:double;
border-color: blue;}

img {
   width: 11%;
}

img{
    float: right;
    margin-top: 0%;
}

h1 {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}